.flex {
  margin-top: 20px;
}
.code {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}
.item {
  background-color: darkblue;
  color: white;
}
.subtitle {
  margin-top: 20px;
}
.container {
  border: 4px solid #333;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  gap: 10px;
}
.item {
  border-radius: 12px;
  padding: 10px;
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
}

.df > .container {
  display: flex;
}

.fdr > .container {
  flex-direction: row;
}
.fdc > .container {
  flex-direction: column;
}
.fdrr > .container {
  flex-direction: row-reverse;
}
.fdcr > .container {
  flex-direction: column-reverse;
}

.fjcfs > .container {
  justify-content: flex-start;
}
.fjcfe > .container {
  justify-content: flex-end;
}
.fjcc > .container {
  justify-content: center;
}
.fjsb > .container {
  justify-content: space-between;
}
.fjsa > .container {
  justify-content: space-around;
}
.fjse > .container {
  justify-content: space-evenly;
}

.faifs > .container > .item:nth-child(2) {
  height: 200px;
}
.faife > .container > .item:nth-child(2) {
  height: 200px;
}
.faic > .container > .item:nth-child(2) {
  height: 200px;
}

.faifs > .container {
  align-items: flex-start;
}
.faife > .container {
  align-items: flex-end;
}
.faic > .container {
  align-items: center;
}