.dbc {
  border: 2px solid rebeccapurple;
  margin-top: 20px;
  padding: 10px;
}
.desc {
  margin-top: 15px;
}
.example {
  display: inline-block;
  margin-top: 15px;
  background-color: brown;
  color: white;
  padding: 10px;
  border: 3px solid rgb(12, 250, 12);
  margin-right: 10px;
}
.h {
  height: 100px;
}
.w {
  width: 150px;
}
.hw {
  max-width: 500px;
  width: 100%;
  height: 100px;
}